

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
	font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif; 

}


body {
    background-color: rgba(221, 212, 212, 0.466);
    width: 80%;
background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


.container {
    display: flex;
    position: relative;
   
}

.container .navbar {
    display: block;
    position: fixed;
background-image: linear-gradient(to right , #27282e, #0a1926);
color: #E0E0E0; 
    width: 200px;
    height: 100%;
    padding: 15px 0;
    border-radius:0px 20px 20px 0px ;

}
.container .navbar h2{
    color: rgb(240, 240, 240);
    margin-left:12px;
   font-size: 26px;
    margin-bottom: 23px;
    text-transform: uppercase;
    
    
}
.container .navbar ul li{
    padding:15px;
    display: block;
    border-bottom: 1.5px solid rgba(175, 166, 166, 0.05);
    border-top: 1.5px solid rgba(160, 146, 146, 0.05);
height: 100%;
position: relative;


}
.container .navbar ul li a{
    color: rgb(221, 220, 220); 
    text-transform: uppercase;
    display: block;
    transition: all 0.3s ease; 
    width: calc(100% + 30px);
     height: 100%;
}
.container .navbar ul li a i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    transition: all 0.3s ease;
    height: 30px;
    width: 30px;
}

.container .navbar ul li:hover{
margin-left:3px;
background-color: rgba(0, 201, 255, 0.2);
color: #00C9FF;
border-radius:5px;
 
}



.container .navbar ul li :hover a {
  background-color: royalblue;
   color:#fff;
   }



